.container {
  background-color: darkgrey;
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px solid black;
  border-radius: 10px;
}
th {
  text-align: left;
}

.btn {
  padding: 4px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: black;
  color: white;
  text-decoration: none;
}

.btn:hover {
  color: lightblue;
}

.btn-delete {
  padding: 4px;
  border: none;
  border-radius: 4px;
  background-color: red;
  color: black;
  text-decoration: none;
}

#new_post_form textarea {
  width: 300px;
  height: 150px
}

.errors {
  color: red;
  list-style-type: none;
}

ul li a {
  color: black;
  text-decoration: none;
}