<a class='btn' href='/new_post'>New Post</a>
<a class='btn' href='/tags'>Browse Tags</a>
<h1>Anon Blog</h1>
<!-- Show a list of the last 10 posts created. Display the title, which should be clickable to go to the full page (with an edit button). -->

<% if get_ten_posts %>
  <h3>Check out some of the most recent posts:</h3>
  <% get_ten_posts.each do |post| %>
  <ul>
    <li><a href="/posts/<%= post.id %>"><%= post.title %></a></li>
  </ul>
  <% end %>
<% end %>