<a class='btn' href='/tags'>Browse Tags</a>
<% if logged_in? %>
  <a class='btn' href='/new_post'>New Post</a>
  <a class='btn' href='/logout'>Logout</a>
<% end %>

<h1>Bloginator</h1>

<% unless logged_in? %>
  <a href="/login">Login</a>
  <a href="/signup">Sign Up</a>
<% end %>
<!-- Show a list of the last 10 posts created. Display the title, which should be clickable to go to the full page (with an edit button). -->

<% if get_ten_recent_posts %>
  <h3>Check out some of the most recent posts:</h3>
  <ul>
  <% get_ten_recent_posts.each do |post| %>
    <li><a href="/posts/<%= post.id %>"><%= post.title %></a></li>
  <% end %>
  </ul>
<% end %>