<form action='/login' method='post'>
  <h2>Login</h2>
  Email:<br>
  <input type='email' name='user[email]' autofocus='autofocus'><br><br>
  Password:<br>
  <input type='password' name='user[password]'><br><br>
  <input type='submit' value='Login'>
</form>
