<h3>Create a new post:</h3>

<% if @post %>
  <% if @post.errors.present? %>
    <% @post.errors.full_messages.each do |message| %>
      <ul>
        <li><span class='errors'><%= message %></span></li>
      </ul>
    <% end %>
  <% end %>
<% end %>

<form action='new_post' method='post' id='new_post_form'>
  Author:
  <div><input type='text' name='author' placeholder='Your name (optional)' autofocus='autofocus'></div><br>
  Title:
  <div><input type='text' name='title' placeholder='Give your post a title'></div><br>
  Content:
  <div><textarea name="body" placeholder="Write your post"></textarea></div><br>
  Tags:
  <div><input type="text" name="tags" placeholder="Separate tags with commas"></div>
  <p><input type="submit" value="Submit Post"></p>
</form>