<h3>Create a new post:</h3>
<form action='new_post' method='post' id='new_post_form'>
  <p><input type='text' name='author' autofocus='autofocus'></p>
  <p><input type='text' name='title'></p>
  <p><textarea name="body" placeholder="Write your post!"></textarea></p>
  <p><input type="text" name="tags" placeholder="Separate tags with commas"></p>
  <input type="submit" value="Submit Post">
</form>