<h3>Create a new post:</h3>
<form action='new_post' method='post' id='new_post_form'>
  Author:
  <div><input type='text' name='author' placeholder='type your name' autofocus='autofocus'></div><br>
  Title:
  <div><input type='text' name='title'></div><br>
  Content:
  <div><textarea name="body" placeholder="Write your post!"></textarea></div><br>
  Tags:
  <div><input type="text" name="tags" placeholder="Separate tags with commas"></div>
  <p><input type="submit" value="Submit Post"></p>
</form>