<h3>Posts with the "<%=@tag.name%>" tag:</h3>
<% unless @posts.empty? %>
  <ul>
  <% @posts.each do |post| %>
    <li><a href='/posts/<%= post.id %>'><%= post.title %></a></li>
  <% end %>
  </ul>
<% else %>
  <h4>Oops, there aren't any posts using that tag.</h4>
<% end %>